html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 14px;
    color: #fff;
    @extend %mont-500;
    line-height: 40px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: #363636 !important;  
}

.container {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %mont-700;
    font-size: 36px;
    line-height: 44px;
    color: $accent-color;
    margin-bottom: 40px;
}

h1 {
    @extend %mont-700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    // margin-bottom: 40px;
}

h4 {
    font-size: 16px;
    // margin-bottom: 40px;
}

a {
    cursor: pointer;
}