* {
    cursor: none;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 14px;
    color: #fff;
    @extend %mont-500;
    line-height: 40px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    background-color: #363636 !important;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %mont-700;
    font-size: 36px;
    line-height: 44px;
    color: $accent-color;
    margin-bottom: 40px;
}

h1 {
    @extend %mont-700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    // margin-bottom: 40px;
}

h4 {
    font-size: 16px;
    // margin-bottom: 40px;
}

#cursor,
#aura {
    position: absolute;
    border-radius: 100%;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
}

#cursor {
    width: 8px;
    height: 8px;
    background-color: rgba(#fff, 0.5);
    transform: scale(1);
    &.acttive {
        opacity: 0;
        transform: scale(0);
    }
}

#aura {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(#fff, 0.2);
    background-color: rgba(#fff, 0.027);
    transform: translate(5px, 5px);
    &.active {
        border: 1.2px solid rgba(#fff, 0.33);
        transform: scale(1.2);
    }
}

#aura.hidden,
#cursor.hidden {
    transform: scale(0.001);
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: $black-color;
}
::-webkit-scrollbar-thumb {
    background: $accent-color;
    border-radius: 10px;
    border: 5px solid $black-color;
    transition: all 0.5s $transition;
}