$accent-color: #ff8a00;
$accent-color-bg: rgba(255, 138, 0, 0.3);
$black-color: #0e0e0e;

$transition: cubic-bezier(0.215, 0.61, 0.355, 1);

%mont-700 {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
}

%mont-500 {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
}

%link--white {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    transition: 0.5s;
    &:hover {
        color: $accent-color;
    }
}

%link--yellow {
    text-decoration-line: underline;
    color: $accent-color;
    z-index: 1;
    font-size: 14px;
}

%button--yellow {
    background-color: $accent-color;
    color: #fff;
    @extend %mont-700;
    line-height: 200%;
    padding: 17px 40px;
    border: none;
    border-radius: 8px;
}

%button--transparent {
    background-color: transparent;
    color: $accent-color;
    @extend %mont-700;
    line-height: 200%;
    padding: 17px 40px;
    border: 1px solid $accent-color;
    border-radius: 8px;
}

@media (max-width: 1024px) {
  %link--white {
    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 800px) {
  %link--white {
    font-size: 14px;
  }
};

@media (max-width: 720px) {
  %button--transparent,
  %button--yellow {
    padding: 12px 30px;
  }
};